.DS_Store
.vscode/
.env
node_modules/
dist/
# Terraform local state and providers
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/plan.out
infra/lambda.zip
infra/modules/**/lambda.zip
# keep docs out of dev
infra/docs/

# Never commit secrets
infra/secret-access-key/
# infra automation
infra/build/
infra/logs/*
!infra/logs/.gitkeep
