# OS-specific
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes

# IDEs
.idea/
*.iml
.vscode/
*.code-workspace

# Java / Maven / Gradle
target/
.gradle/
build/
log/
*.jar
*.war
*.class

# Spring Boot devtools
*.tmp
*.bak
*.swp
*~.nib
*.*~

# Node/npm
node_modules/
npm-debug.log*
.eslintcache
.awcache/
.cache-loader/
coverage/
dist/
build/
package-lock.json

# Docker
**/docker-compose.override.yml
**/docker-compose.dev.yml
**/docker-compose.prod.yml

# Devcontainer / VSCode Remote
.devcontainer/
*.launch
.externalToolBuilders/
.sts4-cache/

# JHipster generated configs
.jhipster/
yo-resolve

# Sonar
.sonar/
sonar/report-task.txt
scanner-report/

# Environment files
.env
.env.*
.env.local
.envrc

# Others
.merge_file*
